body {
  background: url("quoteMachine/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  margin: 0;
  padding: 0;
  color: white;
}
#quote {
  border: 1px solid black;
  
  max-width: 680px;
  height: 75px;
  margin: 2rem auto 0 auto;
  text-align: center;
}
#buttons {
  border: 1px solid black;
  
  margin: 0 auto 0 auto;
  max-width: 680px;
  text-align: center;
}
.button {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  text-decoration: none;
  font-family: Helvetica;
  padding: 0 20px;
}
