html {
  height: 100%;
}
body {
  background-color: black;
  height: 100%;
  background-repeat: no-repeat; 
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: 'Marck Script', cursive;
}
#quote {
  max-width: 60%;
  height: 125px;
  margin: 10% auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 10px 0;
}
#buttons {  
  text-decoration: none;
  font-family: 'Marck Script', cursive;
  font-size: 1.3rem;
  margin: 0 auto 0 auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 20px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
}
.button {
  color: inherit;
  background: none;
  text-decoration: none;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 8px;
}
.button:hover {
  color: black;
  background-color: #a6a6a6;
}
#image img {
  padding: 0;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
}
@media only screen and (max-width: 500px) {
    #buttons {
      margin-top: 110px;
    }
    #quote {
      max-width: 100%;
      height: 200px;
      margin: 10% auto 0 auto;
      text-align: center;
      font-size: 1.5rem;
      padding: 0 18px 0 18px;
    }
    #image img {
      margin-top: 0px;
      max-width: 200px;
    }
}