body {
  background-image: url("images/background.png");
  margin: 0;
  padding: 0;
}
#allContent {
  border: 1px solid black;
  
  max-width: 680px;
  height: 250px;
  margin: 2rem auto 0 auto;
  text-align: center;
}
#buttons {
  border: 1px solid black;
  
  margin: 0 auto 0 auto;
  max-width: 680px;
  text-align: center;
}
.button {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  text-decoration: none;
  font-family: Helvetica;
  padding: 0 20px;
}
